{% load static %}
 
    <!-- Footer Start -->
    <div class="container-fluid  text-light footer my-6 mb-0 py-5 wow fadeIn" style="background-color: rgb(236, 162, 162);" data-wow-delay="0.1s">
      <div class="container py-5">
          <div class="row g-5">
              <div class="col-lg-3 col-md-6">
                  <h4 class="text-danger mb-4">Office Address</h4>
                  <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>
                  <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                  <p class="mb-2"><i class="fa fa-envelope me-3"></i>himaBakery@gmail.com</p>
                  <div class="d-flex pt-2">
                      <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-twitter"></i></a>
                      <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-facebook-f"></i></a>
                      <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-youtube"></i></a>
                      <a class="btn btn-square btn-outline-light rounded-circle me-0" href=""><i class="fab fa-linkedin-in"></i></a>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <h4 class="text-danger mb-4">Quick Links</h4>
                  <a class="btn btn-link" href="{% url 'homePage' %}">Home</a>
                  <a class="btn btn-link" href="{% url 'aboutusPage' %}">About Us</a>
                  <a class="btn btn-link" href="{% url 'menuPage' %}">Menu</a>
                  <a class="btn btn-link" href="{% url 'contactPage' %}">Contact</a>
              </div>
              <div class="col-lg-3 col-md-6">
                <h4 class="text-danger mb-4">Our socials</h4>
                <a class="btn btn-link" href="https://www.instagram.com/">Instagram</a>
                <a class="btn btn-link" href="https://www.facebook.com/">Facebook</a>
                <a class="btn btn-link" href="https://www.tiktok.com/en/">Tik Tok</a>
                <a class="btn btn-link" href="https://www.youtube.com/">You Tube</a>
                <a class="btn btn-link" href="https://www.youtube.com/">Twitter</a>
            </div>
              <div class="col-lg-3 col-md-6">
                  <h4 class="text-danger mb-4">Photo Gallery</h4>
                  <div class="row g-2">
                      <div class="col-4">
                          <img class="img-fluid bg-light rounded p-1" style="height: 100px;" src="{% static 'img/product-1.jpg' %}" alt="Image">
                      </div>
                      <div class="col-4">
                          <img class="img-fluid bg-light rounded p-1" style="height: 100px;" src="{% static 'img/product-2.jpg' %}" alt="Image">
                      </div>
                      <div class="col-4">
                          <img class="img-fluid bg-light rounded p-1" style="height: 100px;" src="{% static 'img/product-3.jpg' %}" alt="Image">
                      </div>
                      <div class="col-4">
                          <img class="img-fluid bg-light rounded p-1" style="height: 100px;" src="{% static 'img/product-2.jpg' %}" alt="Image">
                      </div>
                      <div class="col-4">
                          <img class="img-fluid bg-light rounded p-1" style="height: 100px;" src="{% static 'img/product-3.jpg' %}" alt="Image">
                      </div>
                      <div class="col-4">
                          <img class="img-fluid bg-light rounded p-1"  style="height: 100px;" src="{% static 'img/product-1.jpg' %}" alt="Image">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Footer End -->


  
